#navigation {
    float: left;
    width: 200px;
    background-color: red;
}

#content {
    margin-left: 200px;
    background-color: #ccc;
}

#footer {
    clear: both;
    color: white;
    background-color: red;
}


